<script setup lang="ts">
import { reactive, ref, watch } from 'vue';

const count = ref(0)
const myClasses = reactive({
    red: true,
    bold: true,
    underline: true
})
watch(count, function(newCount,oldCount) {
    console.log(`Count channged ${oldCount} -> ${newCount}`)
})

function increment() {
    count.value++
}
</script>

<template>
    <button @click="increment" :class="myClasses">count is : {{ count }}</button> <br />
    <pre>{{ myClasses }}</pre><br />
    <button :class="myClasses.red = !myClasses.red">red</button> 
    <button :class="myClasses.bold = !myClasses.bold">bold</button> 
    <button :class="myClasses.underline = !myClasses.underline">underline</button>
</template>

<style scoped>

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}
</style>